<article class="card mb-5">

  <a href="{{ item_url}}"><img class="card-img-top" src="{{ item_image_thumbnail }}?crop=390x260" alt="Card image cap"></a>

  <div class="card-body">

    <h5 class="card-title">{{ item_title }}</h5>

    <div class="card-text">{{ item_text_excerpt }}</div>

    <a href="{{ item_url}}" class="btn btn-primary">View</a>

  </div>

</article>
